.flex {
  display: flex;
  flex-direction: row;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::webkit-scrollbar {
  display: none;
}

