.card {
  width: 80;
  height: 120;
  border-radius: 8;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100vw;

  -webkit-overflow-scrolling: touch;

  .card {
    flex: 0 0 auto;
  }
}

.scrolling-wrapper::webkit-scrollbar {
  display: none;
}
