.parent {
  text-align: center;
}

.child {
  display: inline-block;
}

.flex {
  display: flex;
  flex-direction: row;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;

  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::webkit-scrollbar {
  display: none;
}

